*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eeeeee;
}
#wrapper{
    display: flex;
    flex-direction: row;
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    background: #ffffff;
    justify-content: space-between;
}
#logo{
    height: 70px;
    margin-left: 20px;
}
#o1-wrapper{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.o1{
    width: 150px;
    border: 2px rgb(255, 255, 255) solid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 25px;
    color: rgb(41, 41, 41);
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}
.o1:hover{
    border-bottom-color:rgb(35, 174, 255); ;
    color: rgb(35, 174, 255); ;
}
#login-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.o2{
    width: 110px;
    height: 30px;
    color: rgb(41, 41, 41);
    margin-top: 25px;
    margin-left: 20px;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.o2:hover{
    color: rgb(35, 174, 255);
    border-color: rgb(35, 174, 255);
}
#body-content{
    width: 90%;
    margin-top: 100px;
    margin-left: 5%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.title{
    width: 100%;
    height: 70px;
    background: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-content{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7f8594;
    margin-left: 50px;
    margin-top: 20px
}
.title-search{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f636d;
}
#search-bar{
    height:30px ;
    margin-right: 50px;
    margin-top: 20px;
    border-color: #e1e3e6;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
    color: #7f8594;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar:hover{
    border-color: rgb(35, 174, 255);;
}
.list-ex{
    display: flex;
    flex-direction: row;
    background: #fafafa;
    border-bottom: 1px solid rgb(209, 209, 209);
    width: 100%;
}

.sth{
    width: 100%;
    height: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 150px;
    color: #5b6376;
}
.list-ex-content{
    display: flex;
    flex-direction: row;
    background: #ffffff;
    text-decoration: none;
}
.sth-content{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5b6376;
    border-bottom: 1px solid rgb(209, 209, 209);
    cursor: pointer;
  
}
.title-ex{
    padding-left: 5%
}
.level-ex-ct{
    color: rgb(0, 255, 0);
    font-weight: 600;
    padding-left: 11.5%;
}
.sent-ex{
    padding-left: 16.5%;
}
/* ...*/

#notify{
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    color: #5b6376;
    font-size: 30px;
    margin-left: 40%;
}